body {
  margin: 0px;
}

.hidden {
  display: none;
}
#top-logo,
#footer-logo {
  height: 100px;
  width: 100px;
}

#change {
  color: white;
  background-color: black;
  background-image: url(../img/excercise1.jpg);
  background-repeat: no-repeat;
  width: 239px;
  height: 239px;
  text-align: center;
}

#physical {
  color: white;
  background-color: black;
  background-image: url(../img/excercise2.jpg);
  background-repeat: no-repeat;
  width: 239px;
  height: 239px;
  text-align: center;
}

#find {
  color: white;
  background-color: black;
  background-image: url(../img/excercise3.jpg);
  background-repeat: no-repeat;
  width: 239px;
  height: 239px;
  text-align: center;
}

#personalized {
  color: white;
  background-color: black;
  background-image: url(../img/excercise4.jpg);
  background-repeat: no-repeat;
  width: 239px;
  height: 239px;
  text-align: center;
}

.socialmedia {
  color: black;
  text-decoration: none;
  font-size: 116px;
}

.socialmedia:hover {
  color: purple;
}
