.hidden {
  display: none;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  color: white;
  height: 100%;
}
.wrapper {
  width: 1280px;
  margin: 0 auto;
}

#top-logo {
  width: 60px;
  filter: invert(100%);
}

header {
  background-color: black;
  position: sticky;
  top: 0;
  height: 50px;
}

#top-logo {
  width: 60px;
  filter: invert(100%);
  margin-left: -40px;
}

#navbar {
  padding: 15px;
}

#navbar ul {
  padding-top: 15px;
}

#navbar ul li {
  display: inline;
  list-style: none;
  cursor: pointer;
  margin-right: 20px;
}

#navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  background-color: #d4e157;
  padding: 5px 10px;
  border-radius: 15px;
}

.fa-search {
  font-size: 22px;
  margin-top: 15px;
}

#navbar ul li a:hover {
  text-transform: uppercase;
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 5px 10px;
}

/* Welcome Banner*/

#welcome {
  background-image: url(../img/main-background.jpg);
  background-repeat: no-repeat;
  background-color: black;
  text-align: center;
}
#welcome h2 {
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 70px;
}

#welcome h2 span {
  text-align: center;
  display: block;
  font-size: 100px;
  font-weight: bold;
  color: #d4e157;
}

#main_content h2 {
  text-align: center;
}

#main_content h3 {
  text-transform: uppercase;
}

/* main content*/
main {
  background-color: black;
  background-repeat: no-repeat;
}

#maincontent {
  width: 1280px;
  height: 1450px;
}

#main_content h2 {
  font-size: 50px;
  margin-top: 30px;
  text-decoration: underline #d4e157;
}

#main_content h3 {
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  border-radius: 5px;
}

#pump {
  background-color: white;
  color: black;
  margin-top: 30px;
  font-size: 35px;
  text-align: center;
  padding: 20px 30px;
  width: 340px;
  height: 500px;
  border-radius: 10px;
}

#large_photo {
  margin-top: -40px;
  border-radius: 10px;
}

#grow {
  margin-left: 60px;
}

#grow-p {
  background-color: white;
  color: black;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  margin-top: 30px;
  margin-right: -60px;
  padding: 10px 20px;
}

#small_photo {
  margin-top: -60px;
  margin-bottom: 100px;
}

/* circle images and find your plan box*/
#plan {
  background-color: #d4e157;
  color: black;
  height: 500px;
}

/* find your plan*/
#findyourplan {
  text-align: center;
  padding-top: 40px;
  margin-top: -75px;
}

#findyourplan a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  padding: 0px 20px;
  border-radius: 35px;
  font-size: 50px;
}

/* circle images*/
.round {
  border-radius: 200px;
  padding: 0 15px;
}

#wrap_photos p {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  font-size: 25px;
  margin-left: 60px;
}

/* gym community section*/
#gym_community {
  height: 693px;
}

#gym_community h2 {
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
}

#values {
  margin: 20px;
}

#change {
  font-size: 25px;
  color: white;
  background-color: black;
  background-image: url(../img/excercise1.jpg);
  background-repeat: no-repeat;
  width: 239px;
  height: 239px;
  text-align: center;
  border-radius: 5px;
}

#physical {
  font-size: 25px;
  color: white;
  background-color: black;
  background-image: url(../img/excercise2.jpg);
  background-repeat: no-repeat;
  width: 239px;
  height: 239px;
  text-align: center;
  border-radius: 5px;
}

#find {
  font-size: 25px;
  color: white;
  background-color: black;
  background-image: url(../img/excercise3.jpg);
  background-repeat: no-repeat;
  width: 239px;
  height: 239px;
  text-align: center;
  border-radius: 5px;
}

#personalized {
  font-size: 25px;
  color: white;
  background-color: black;
  background-image: url(../img/excercise4.jpg);
  background-repeat: no-repeat;
  width: 239px;
  height: 239px;
  text-align: center;
  border-radius: 5px;
}

.socialmedia {
  color: white;
  text-decoration: none;
  font-size: 116px;
  text-align: center;
  margin-left: 25px;
}

.socialmedia:hover {
  color: #d4e157;
}

#personalized p,
#find p,
#physical p,
#change p {
  margin-top: 100px;
  color: white;
}
